<!-- <app-nav-bar></app-nav-bar> -->
    <div class="card-container">
        <!-- <div class="container"> -->
        <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <app-marmara></app-marmara>
                  </div>
                  <div class="col-md-4">
                    <app-metropol-card></app-metropol-card>
                  </div>
                  <div class="col-md-4">
                    <app-dogu-card></app-dogu-card>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <app-ege-akdeniz></app-ege-akdeniz>
                  </div>
                  <div class="col-md-4">
                    <app-ic-anadolu-card></app-ic-anadolu-card>
                  </div>
                  <div class="col-md-4">
                    <app-karadeniz-card></app-karadeniz-card>
                  </div>
                </div>
              </div>
              
        
</div>
       <!-- <div class="row"><div class="col-md-6" ><app-marmara></app-marmara></div>
       <div class="col-md-6"> <app-karadeniz-card></app-karadeniz-card></div></div>
            
        <div class="row"><div class="col-md-6"> <app-ege-akdeniz></app-ege-akdeniz></div>
        <div class="col-md-6"> <app-ic-anadolu-card></app-ic-anadolu-card></div></div>
        
            
          
       <div class="row">  <div class="col-md-6"><app-metropol-card></app-metropol-card></div>
       <div class="col-md-6"> <app-dogu-card></app-dogu-card></div></div> -->
          
        
       
    <!-- </div> -->


